<div class="container">
    <div class="row">
      <div class="col">
        <h1>{{title}}</h1>
      </div>
      <div class="col">
        <b>Authors:</b>{{authors}}<br/>
        <b>Duration:</b>{{duration | date:'HH:mm'}} hours<br/>
        <b>Created:</b>{{creationDate | date:'dd.MM.YYYY'}}<br/>        
      </div>
    </div>
    <div class="row">
      <div class="col">
        Lorem ipsum adlsdafn afdnlasnd flkdsanflan fdslkandlfsanlasnlfdsanlfdsanfd
      </div>
      <div class="col">
        <app-button></app-button>
      </div>     
    </div>
  </div>