.divTitle
{
    width:250px;
    text-align: center;
    vertical-align: middle;
}

.divText
{
    width:250px;
    text-align: center;
    vertical-align: middle;
}

.divButton
{
    width:250px;
    text-align: center;
    vertical-align: middle;
}