<br />
<br />
<app-header></app-header>
<br />
<br />
<div class="container">
    <div class="div1"><app-button buttonText="Show course"></app-button></div>
    <div class="div2"><fa-icon [icon]="faPen"></fa-icon></div>
    <div class="div3"><fa-icon [icon]="faTrash"></fa-icon></div>    
</div>
<br />
<br />
<app-coursecard></app-coursecard>
<br />
<br />
<app-coursecard></app-coursecard>
<br />
<br />
<app-courselist></app-courselist>
<br />
<br />
<app-info title="Your list is empty" text="Please use add new course button to add your first course"></app-info>
<app-courses></app-courses>
<router-outlet></router-outlet>